@charset "UTF-8";

@font-face {
    font-family: "PTSansPro";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "PTSansPro";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/PTS75F-webfont.eot");
  src: url("../fonts/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F-webfont.woff") format("woff"), url("../fonts/PTS75F-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "GothamPro";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype");
}

@font-face {
    font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype");
}

/* Skeleton V2.0.4 */
/* Skeleton Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.column,
.columns {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column,
  .columns {
        margin-left: 4%;
    }

    .column:first-child,
  .columns:first-child {
        margin-left: 0;
    }

    .one.column,
  .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        width: 13.3333333333%;
    }

    .three.columns {
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74.0%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }
  /* Offsets */
    .offset-by-one.column,
  .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
  .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
  .offset-by-three.columns {
        margin-left: 26%;
    }

    .offset-by-four.column,
  .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
  .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
  .offset-by-six.columns {
        margin-left: 52%;
    }

    .offset-by-seven.column,
  .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
  .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
  .offset-by-nine.columns {
        margin-left: 78.0%;
    }

    .offset-by-ten.column,
  .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
  .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
  .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
  .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    display: table;
    content: "";
    clear: both;
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    border-bottom: none;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    color: #000000;
    background-color: #FFFF00;
}

small {
    font-size: 80%;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 75%;
    line-height: 0;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    color: inherit;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*=============================================
               BEST PRACTICES
=============================================*/
img {
    max-width: 100%;
    height: auto;
}

/*=============================================
                 HEADER
=============================================*/
.main-header {
    height: 61px;
    margin-bottom: -61px;
    background: transparent;
}

.main-header-logo {
    float: left;
    margin-right: 27px;
}

.main-header-nav__list {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 13px;
}

.main-header-nav__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 28px;
    margin-left: 15px;
}

.main-header-nav__item a {
    text-decoration: none;
    color: #4A4A4A;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.main-header-nav__item a:hover {
    color: #FFFFFF;
}

.main-header-nav__item:last-child {
    margin-right: 0;
}

.main-header-nav__item:last-child::before {
    display: none;
    content: "";
}

.main-header-nav__item::before {
    position: absolute;
    content: "";
    right: -28px;
    width: 1px;
    height: 24px;
    background-color: #93BED5;
}

/*=============================================
               GLOBALL SETTINGS
=============================================*/
html {
    font-size: 16px;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #646C8B;
    font-size: 30px;
    font-weight: 400;
}

.cf::after {
    display: table;
    content: "";
    clear: both;
}

.btn {
    padding: 13px 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 3px solid #02A1CF;
    background-color: #11BCEE;
    box-shadow: 0 15px 15px rgba(93, 202, 233, .3);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/*=============================================
                  INDEX.HTML
=============================================*/
/*=========== index-hero ===========*/
main {
    overflow: hidden;
}

.index-hero {
    padding-bottom: 87px;
    background: #45B5EB url("../img/index-hero-BG.png") center center no-repeat;
    background-size: cover;
}

.index-hero__heading {
    padding-top: 155px;
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 300;
}

.index-hero__heading span {
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 400;
}

.index-hero__img {
    display: block;
    margin-bottom: 51px;
    margin-left: 33px;
}

.index-hero__link {
    margin-bottom: 65px;
    margin-left: 16px;
}

/*=========== index-solutions ===========*/
.index-solutions {
    position: relative;
    margin-top: 80px;
    margin-bottom: 58px;
}

.index-solutions::before {
    position: absolute;
    content: "";
    z-index: -5;
    right: -15px;
    bottom: -380px;
    width: 380px;
    height: 1151px;
    background: url("../img/index-solutions-BG.png") center center no-repeat;
}

.index-solutions-can {
    padding-bottom: 80px;
    margin-left: 15px;
    border-bottom: 1px solid #F0F4F7;
}

.index-solutions-can__link {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    height: 208px;
    margin-top: 17px;
    text-decoration: none;
    border: 1px solid #F4F4F4;
}

.index-solutions-can__link:hover {
    box-shadow: 0 15px 15px rgba(168, 168, 168, .1);
}

.index-solutions-can__link:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 66px;
    height: 4px;
    margin-left: -33px;
    background-color: #D0F4FF;
}

.index-solutions-can__link-BG__wifi {
    background: url("../img/index-solutions-can__link-BG__wifi.png") center 55px no-repeat;
}

.index-solutions-can__link-BG__window {
    background: url("../img/index-solutions-can__link-BG__window.png") center 52px no-repeat;
}

.index-solutions-can__link-BG__tel {
    background: url("../img/index-solutions-can__link-BG__tel.png") center 52px no-repeat;
}

.index-solutions-can__link-BG__antenna {
    background: url("../img/index-solutions-can__link-BG__antenna.png") center 52px no-repeat;
}

.index-solutions-can__link-BG__signal {
    background: url("../img/index-solutions-can__link-BG__signal.png") center 52px no-repeat;
}

.index-solutions-can_text {
    padding-top: 117px;
    text-align: center;
    color: #838383;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.index-solutions-canNot {
    margin-top: 75px;
    margin-left: 15px;
}

.index-solutions-canNot__link {
    display: block;
    float: left;
    position: relative;
    margin-top: 18px;
    text-decoration: none;
}

.index-solutions-canNot__link:hover {
    box-shadow: 0 15px 15px rgba(168, 168, 168, .1);
}

.index-solutions-canNot__link:hover::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 4px;
    height: 66px;
    margin-top: -33px;
    background-color: #D0F4FF;
}

.index-solutions-canNot_text {
    position: relative;
    padding: 40px 66px 22px 108px;
    color: #838383;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.index-solutions-canNot_text::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 109px;
    width: 15px;
    height: 15px;
    background: url("../img/index-solutions-canNot_text-kross.png") center center no-repeat;
}

.index-solutions-canNot_text::after {
    position: absolute;
    content: "1";
    top: 0px;
    left: 75px;
    color: #D4E0E4;
    font-family: sans-serif;
    font-size: 79px;
    font-weight: 700;
}

.index-solutions-canNot_text span {
    color: #D4E0E4;
    font-family: sans-serif;
    font-size: 79px;
    font-weight: 700;
}

.middle-text--padding {
    padding: 41px 62px 1px 140px;
}

.middle-text--padding::before {
    top: 20px;
    left: 142px;
}

.middle-text--padding::after {
    content: "2";
    top: 2px;
    left: 92px;
}

.last-text--padding {
    padding: 38px 70px 23px 130px;
}

.last-text--padding::before {
    top: 18px;
    left: 132px;
}

.last-text--padding::after {
    content: "3";
    top: 0px;
    left: 87px;
}

/*=========== index-mount ===========*/
.index-mount {
    padding-top: 53px;
    padding-bottom: 80px;
    padding-left: 20px;
    margin: 0 auto;
    background-color: #E9F1F9;
}

.index-mount .container {
    max-width: 1160px;
}

.index-mount__heading {
    margin-bottom: 44px;
}

.index-mount-item {
    float: left;
    width: 221px;
    min-height: 560px;
    margin: 0 auto;
    margin-right: 15px;
    text-align: center;
}

.index-mount-item:nth-of-type(odd) {
    margin-right: 10px;
    background: #F2F5F8;
}

.index-mount-item:nth-of-type(5) {
    margin-right: 0px;
}

.index-mount-item:nth-of-type(4) {
    margin-right: 15px;
}

.index-mount-item__img {
    margin-bottom: 20px;
}

.index-mount-item__list {
    padding: 0;
    margin: 0;
    margin-left: 44px;
    text-align: left;
}

.index-mount-item__list-item {
    position: relative;
    margin-bottom: 0px;
    list-style: none;
    color: #646C8B;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.index-mount-item__list-item::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -13px;
    width: 5px;
    height: 5px;
    opacity: .55;
    background-color: #11BCEE;
}

.index-mount-item__text {
    width: 177px;
    padding-top: 3px;
    padding-left: 32px;
    margin-top: 7px;
    text-align: left;
    color: #9DA4C0;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.index-mount-item__product-car {
    margin-top: 114px;
    margin-left: -21px;
}

.index-mount-item__product-house {
    margin-top: 118px;
    margin-left: -11px;
}

.index-mount-item__product-flat {
    margin-top: 24px;
    margin-left: 5px;
}

.index-mount-item__product-small-office {
    margin-top: -27px;
    margin-left: 22px;
}

.index-mount-item__product-office {
    margin-top: 35px;
    margin-left: -19px;
}

/*=========== index-advantages ===========*/
.index-advantages {
    position: relative;
    padding-top: 52px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 0;
}

.index-advantages .container {
    max-width: 1200px;
}

.index-advantages::before {
    position: absolute;
    content: "";
    right: -15px;
    bottom: -300px;
    width: 387px;
    height: 757px;
    background: url("../img/index-advantages-BG.png") center center no-repeat;
}

.index-advantages__heading {
    margin-bottom: 50px;
}

.index-advantages__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 220px;
    min-height: 211px;
    margin-top: 17px;
    margin-right: 20px;
    margin-bottom: 14px;
    text-decoration: none;
}

.index-advantages__item:hover {
    box-shadow: 0 15px 15px rgba(168, 168, 168, .1);
}

.index-advantages__item:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 66px;
    height: 4px;
    margin-left: -33px;
    background-color: #D0F4FF;
}

.index-advantages__item:nth-of-type(5) {
    margin-right: 0;
}

.index-advantages--icon-security {
    background: url("../img/index-advantages--icon-security.png") center 48px no-repeat;
}

.index-advantages--icon-battary {
    background: url("../img/index-advantages--icon-battary.png") center 60px no-repeat;
}

.index-advantages--icon-box {
    background: url("../img/index-advantages--icon-box.png") center 50px no-repeat;
}

.index-advantages--icon-note {
    background: url("../img/index-advantages--icon-note.png") center 50px no-repeat;
}

.index-advantages--icon-antenna {
    background: url("../img/index-advantages--icon-antenna.png") center 44px no-repeat;
}

.index-advantages--icon-cert {
    background: url("../img/index-advantages--icon-cert.png") center 50px no-repeat;
}

.index-advantages--icon-efficient {
    background: url("../img/index-advantages--icon-efficient.png") center 45px no-repeat;
}

.index-advantages--icon-gear {
    background: url("../img/index-advantages--icon-gear.png") center 37px no-repeat;
}

.index-advantages--icon-special {
    background: url("../img/index-advantages--icon-special.png") center 45px no-repeat;
}

.index-advantages__text {
    padding-top: 117px;
    text-align: center;
    color: #646C8B;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/*=========== index-family ==========*/
.index-family {
    padding-bottom: 42px;
    padding-left: 27px;
    background: #EAF0FA;
}

.index-family-item-wrapper {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #C6E3FF;
    background-color: #F1F7FC;
    box-shadow: 0 5px 13px rgba(17, 188, 238, .11);
}

.index-family-item__line {
    min-width: 1170px;
    height: 1px;
    margin-bottom: 42px;
    margin-left: -15px;
    opacity: .7;
    background-color: #FFFFFF;
}

.index-family-item-wrapper--no-border {
    border: 1px solid #EBEBEB;
    box-shadow: 0 5px 13px rgba(255, 255, 255, 0);
}

.index-family__heading {
    padding-top: 78px;
    padding-bottom: 15px;
}

.index-family-item {
    float: left;
    position: relative;
    min-width: 349px;
    min-height: 297px;
}

.index-family-item:nth-of-type(1) {
    border-right: 1px solid #C6E3FF;
    background: #FFFFFF;
}

.index-family-item:nth-of-type(1):after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 4px;
    height: 66px;
    margin-top: -33px;
    opacity: .5;
    background-color: #11BCEE;
}

.index-family-item:nth-of-type(2) {
    margin-left: 48px;
}

.index-family-item:nth-of-type(3) {
    position: relative;
    margin-left: 32px;
}

.index-family-item:nth-of-type(3):before {
    position: absolute;
    content: "";
    top: 50%;
    left: -23px;
    width: 1px;
    height: 244px;
    margin-top: -122px;
    opacity: .5;
    background-color: #C6E3FF;
}

.index-family-item__img {
    margin-top: 29px;
    margin-left: 18px;
}

.index-family-list {
    margin-top: 48px;
    margin-left: 5px;
}

.index-family-list__item {
    position: relative;
    margin-bottom: 34px;
    list-style: none;
    color: #70768C;
    font-size: 14px;
    font-weight: 300;
}

.index-family-list__item span {
    text-transform: uppercase;
    color: #646C8B;
}

.index-family-list__item--1st::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -40px;
    width: 22px;
    height: 28px;
    background: url("../img/index-family-list__item--1st.png") center center no-repeat;
}

.index-family-list__item--2nd::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -40px;
    width: 23px;
    height: 24px;
    background: url("../img/index-family-list__item--2nd.png") center center no-repeat;
}

.index-family-list__item--3rd::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -40px;
    width: 22px;
    height: 22px;
    background: url("../img/index-family-list__item--3rd.png") center center no-repeat;
}

.index-family-list__item--4th {
    margin-bottom: 45px;
}

.index-family-list__item--4th::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -32px;
    width: 22px;
    height: 22px;
    background: url("../img/index-family-list__item--4th.png") center center no-repeat;
}

.index-family-list__item--5th {
    margin-bottom: 44px;
}

.index-family-list__item--5th::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -32px;
    width: 21px;
    height: 21px;
    background: url("../img/index-family-list__item--5th.png") center center no-repeat;
}

.index-family-list__item--6th::before {
    position: absolute;
    content: "";
    top: 12px;
    left: -33px;
    width: 23px;
    height: 23px;
    background: url("../img/index-family-list__item--6th.png") center center no-repeat;
}

.index-family-item__text {
    position: absolute;
    bottom: 27px;
    left: 52px;
    color: #646C8B;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.index-family-item__text span {
    color: #11BCEE;
}

.index-family__button {
    float: right;
    padding: 13px 36px;
    margin-bottom: 38px;
}

/*=========== index-brands ==========*/
.index-brands {
    position: relative;
    padding-top: 47px;
    margin-bottom: 70px;
}

.index-brands::before {
    position: absolute;
    content: "";
    right: -15px;
    bottom: -100px;
    width: 230px;
    height: 522px;
    background: url("../img/index-brands-BG.png") center center no-repeat;
}

.index-brands__heading {
    padding-bottom: 31px;
}

.index-brands__list {
    padding: 0;
    margin: 0;
}

.index-brands__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 61px;
    padding-left: 55px;
}

.index-brands__item::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 1px;
    height: 33px;
    margin-top: -15px;
    background-color: #BCE9F8;
}

.index-brands__item:nth-of-type(1) {
    padding-left: 35px;
}

.index-brands__item:nth-of-type(2) {
    padding-top: 10px;
    padding-right: 50px;
}

.index-brands__item:nth-of-type(3) {
    padding-right: 48px;
    padding-left: 47px;
}

.index-brands__item:nth-of-type(4) {
    padding-right: 48px;
    padding-left: 42px;
}

.index-brands__item:last-of-type {
    padding-right: 0;
    padding-left: 35px;
}

.index-brands__item:last-of-type:after {
    display: none;
}

/*=============================================
                FOOTER
=============================================*/
.main-footer {
    background-color: #2E333A;
}

.main-footer-nav {
    margin-bottom: 63px;
}

.main-footer-nav__list {
    margin-top: 50px;
}

.main-footer-nav__item {
    position: relative;
    margin-bottom: 17px;
    list-style: none;
}

.main-footer-nav__item::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -25px;
    width: 5px;
    height: 5px;
    opacity: .45;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.main-footer-nav__item:hover::before {
    top: 5px;
    left: -25px;
    opacity: 1;
    background-color: #11BCEE;
}

.main-footer-nav__link {
    text-decoration: none;
    color: #F8F8F8;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.main-footer-nav__link:hover {
    color: #11BCEE;
}

.main-footer-nav-question {
    float: right;
}

.main-footer-nav__heading {
    padding-top: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: right;
    text-transform: uppercase;
    color: #4FAEE0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.main-footer-nav__text {
    margin-top: 0;
    text-align: right;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.main-footer-nav__tel {
    display: block;
    position: relative;
    margin-bottom: 15px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.main-footer-nav__tel::before {
    position: absolute;
    content: "";
    left: 24px;
    width: 28px;
    height: 28px;
    background: url("../img/main-footer-nav__tel.png") center center no-repeat;
}

.main-footer-nav__button {
    display: block;
    background-color: #02A1CF;
    box-shadow: 0 17px 19px rgba(91, 208, 242, .44);
}

.main-footer-copy {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    color: #F8F8F8;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.main-footer-copy::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: .1;
    background-color: #FFFFFF;
}
